/* CSS CARD */
/* IMAGE */
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    text-align: center;
    object-fit: cover;
    object-position: center;
    margin: 0.5vw;
}

/* CONTAINER */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131516;
    font-family: 'Roboto Mono', monospace;
    padding: 0 25px;
}

/* CARD */
.card-container{
    display: flex;
    width: 800px;
    height: auto;
    background: linear-gradient(to right, #282C34, #414348); /* #2FEBD4, #DEFFFD*/
    border-radius: 12px;
    box-shadow: 1px 7px 10px 2px rgba(0, 0, 0, .15);
}

.title{
    margin: 0;
}

.bi-linkedin{
    color: #61AFEF;
}
.bi-globe2{
    color: #56B6C2;
}
.bi-caret-right-fill{
    color: #ABB2BF;
}

.descripcion{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image, .descripcion{
    padding: 30px;
    text-align: left;
    color: #FFFFFF;
}

.descripcion h2{
    line-height: 2;
    font-weight: 400;
    font-size: medium;
    color: #E5C07B;
}

.descripcion p{
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 14px;
    color: #ABB2BF;
    white-space: pre-line;
    text-align: justify-all;
}

.descripcion h1{
    font-weight: 550;
    color: #98C379;
}

/* ICONS */
.descripcion .icons{
    margin-top: 30px;
}
.descripcion .icons a{
    display: inline-block;
    margin: 0 30px 0 30px;
    color: #ffffff;
    font-size: 30px;
    transition: .3s;
}
a:hover{
    transform: translateY(-3px) scale(1.05);
}

/* TOOLTIP */
.tooltip-text {
    position: absolute;
    top: -25px;
    left: -115%;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #282C34;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
#fade {
    opacity: 0;
    transition: opacity 0.3s;
}
.hover-text:hover #fade { opacity: 1; }
.hover-text {
    position: relative;
    display: inline-block;
    margin: 10px;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 576px){
    .container{
        height: 100vh;
        padding: 0 15px;
    }
    .card-container{
        display: flex;
        flex-direction: column-reverse;
        background: linear-gradient(#696969, #9b9b9b); /* #2FEBD4, #DEFFFD*/
        width: 750px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .image img{
        width: 90px;
        height: 90px;
    }
    .image{
        padding: 15px 0 0 0;
    }
    .descripcion{
        padding: 10px 20px 18px 20px;
    }
    .descripcion h1{
        font-weight: 400;
        font-size: 25px;
    }
    .descripcion h2{
        line-height: 2;
        font-weight: 500;
        font-size: 17px;
    }
    .descripcion p{
        font-weight: 300;
        font-size: 15px;
    }
    .descripcion .icons{
        margin-top: 18px;
    }
}
@media (min-width: 320px){
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}