.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #131516;
    font-family: 'Roboto Mono', monospace;
    padding: 0 25px;
    flex-direction: column;
}

.resume{
    width: 85%;
    padding: 50px 50px;
    justify-content: center;
    align-items: center;
}

.profile{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px 25px;
    background-color: #282C34;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color: #ABB2BF;
}

.contact-bottom{
    display: flex;
    flex-direction: column;
}

.contact-info{
    display: inline-block;
    line-height: 2;
}

.profile-body{
    display: flex;
    justify-content: center;
}

.grid-3-2{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    width: 100%
}
.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-item p{
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    display: table-row;
    list-style: none;
}

li {
    display: table-row;
}

li::before {
    display: table-cell;
    text-align: right;
    content: ">";
    font-size: 1em;
    font-weight: bold;
    color: #ABB2BF;
    padding-right: 12px;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

    color: #ddd;

}

.content-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    width: 80%;
}

strong {
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

li:hover {
    background-color: rgba(256,256,256,0.1);
}
li:before:hover {
    background-color: rgba(256,256,256,0.1);
}
li:not(:first-of-type)::before {
    padding-top: 12px;
}
